---
layout: projects
title: "Projects"
permalink: /projects/
author_profile: true
redirect_from:
  - /projects
---
{% include base_path %}

{% for post in site.project reversed%}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
        <img src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <a href="{{post.url | prepend: site.baseurl}}">
      <div class="chapter_inner">
        <p class="chapter_number">{{post.date | date: '%Y'}}</p>
        <h3 class="chapter_title">{{post.title}}</h3>
      </div>
    </a>
  </div>
{% endfor %}
